.title-with-image-section {
    .project-image {
        height: 660px;

        @media (max-width:1319px) {
            height: 50vw;
        }

        @media (max-width:400px) {
            height: 309px;
        }
    }
    .title{
        h1{
            transition-delay: .2s;
        }
    }
}